@import 'config';

// CUSTOM USER STYLES & IMPORTS


@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), url(../fonts/roboto-regular-webfont.woff2) format("woff2");
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 400;
    src: local("Roboto"), url(../fonts/roboto-italic-webfont.woff2) format("woff2");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: local("Roboto"), url(../fonts/roboto-bold-webfont.woff2) format("woff2");
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 700;
    src: local("Roboto"), url(../fonts/roboto-bolditalic-webfont.woff2) format("woff2");
}



.highcharts-data-table table,
.highcharts-figure {
    min-width: 360px;
    max-width: 1000px;
    margin: 1em auto;
}

tfoot {
    font-size: 20px;
    font-weight: 900;
    background-color: #848484;

    p {
        margin: 0;
    }
}

.modal__reportkr {
    max-width: 1170px;
    margin: auto;
}

.report__edit__button__block {
    text-align: center;
    padding: 10px 0 40px 0;

    a {
        font-weight: 800;
    }
}

.page__title {
    span {
        font-weight: 900;
    }

    margin-top: 20px;
    text-align: center;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

article {
    display: block;
}

aside {
    display: block;
}

figcaption {
    display: block;
}

figure {
    display: block;
    margin: 0 0 1rem;
}

footer {
    display: block;
    padding: 20px;
    background-color: #303030;
    color: #fff;
}

header {
    display: block;
    padding: 5px 0;
}

hgroup {
    display: block;
}

main {
    display: block;
}

nav {
    display: block;
    background: #6c63ff;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    a {
        text-decoration: none;
        display: block;
        -webkit-transition: .3s linear;
        -o-transition: .3s linear;
        transition: .3s linear;
    }

    li {
        &:hover {
            >.submenu {
                -webkit-transform: rotateX(0);
                transform: rotateX(0);
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

section {
    display: block;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.65;
    overflow-x: hidden;
    color: #333;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

[tabindex="-1"] {
    &:focus {
        &:not(:focus-visible) {
            outline: 0 !important;
        }
    }
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1 {
    margin-top: 0;
    margin-bottom: .5rem;
}

h2 {
    margin-top: 0;
    margin-bottom: .5rem;
}

h3 {
    margin-top: 0;
    margin-bottom: .5rem;
}

h4 {
    margin-top: 0;
    margin-bottom: .5rem;
}

h5 {
    margin-top: 0;
    margin-bottom: .5rem;

    span {
        font-weight: 700;
    }
}

h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

abbr[data-original-title] {
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
}

abbr[title] {
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;

    ol {
        margin-bottom: 0;
    }

    ul {
        margin-bottom: 0;
    }
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;

    &:hover {
        color: #0056b3;
        text-decoration: underline;
    }

    &:not([href]) {
        &:not([class]) {
            color: inherit;
            text-decoration: none;

            &:hover {
                color: inherit;
                text-decoration: none;
            }
        }
    }
}

img {
    vertical-align: middle;
    border-style: none;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    width: 100%;

    .predmet__title {
        margin: 0;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        font-weight: 100;
        text-align: end;
    }

    thead {
        text-align: center;
        background-color: #343a40;
        color: #fff;
    }
}

caption {
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #6c757d;
    text-align: left;
    caption-side: bottom;
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

button {
    border-radius: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: visible;
    text-transform: none;

    &:focus {
        &:not(:focus-visible) {
            outline: 0;
        }
    }

    &:not(:disabled) {
        cursor: pointer;
    }

    &::-moz-focus-inner {
        padding: 0;
        border-style: none;
    }
}

input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: visible;
    outline: 0;

    &:focus {
        &:required {
            &:invalid {
                border-color: red;
            }
        }
    }

    &:required {
        &:valid {
            border-color: green;
        }
    }
}

select {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: none;
    word-wrap: normal;
}

textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: auto;
    resize: vertical;
    outline: 0;

    &:focus {
        &:required {
            &:invalid {
                border-color: red;
            }
        }
    }

    &:required {
        &:valid {
            border-color: green;
        }
    }
}

[role=button] {
    cursor: pointer;
}

[type=button] {

    &:not(:disabled) {
        cursor: pointer;
    }

    &::-moz-focus-inner {
        padding: 0;
        border-style: none;
    }
}

[type=reset] {

    &:not(:disabled) {
        cursor: pointer;
    }

    &::-moz-focus-inner {
        padding: 0;
        border-style: none;
    }
}

[type=submit] {

    &:not(:disabled) {
        cursor: pointer;
    }

    &::-moz-focus-inner {
        padding: 0;
        border-style: none;
    }
}

input[type=checkbox] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

[type=number] {
    &::-webkit-inner-spin-button {
        height: auto;
    }

    &::-webkit-outer-spin-button {
        height: auto;
    }
}

[type=search] {
    outline-offset: -2px;

    &::-webkit-search-decoration {
        -webkit-appearance: none;
    }
}


output {
    display: inline-block;
}

summary {
    display: list-item;
    cursor: pointer;
}

template {
    display: none;
}

[hidden] {
    display: none !important;
}



.container {
    max-width: 100% !important;
    padding: 0 10px;
}

.main__page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.modules__item {
    font-weight: 900;
}

.autorise__block {
    max-width: 600px;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
}

.center-title {
    text-align: center;
    width: 100%;
}

.visible {
    opacity: 1 !important;
}

.edit__notes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #9ea4aa;
    padding: 5px 0 15px 0;

    p {
        margin: 0;
    }
}

.edit__input {
    max-width: 60px;
    font-weight: 700;
    font-size: 1.2rem;
}

.edit__note {
    font-size: 20px;
    font-weight: 700;
}

.student__bold {
    font-weight: 900;
    margin: 10px 0 4px;
}

.pred_neud {
    margin: 3px 0 3px 20px;
}

.edit__note__digit {
    font-size: 18px;
    font-weight: 700;
    border: 2px solid #4e4e4e;
    border-radius: 3px;
    padding: 2px 4px;
    margin-left: 15px;
}

.edit__name {
    font-size: 20px;
    font-weight: 700;
}

.absolut__text {
    font-weight: 700;
}

.kach__text {
    font-weight: 700;
}

.add__predmet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    p {
        margin: 0;
    }

    select {
        font-size: 18px;
        font-weight: 700;
        border: 1px solid;
        border-radius: 3px;
    }
}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.header__title {
    font-weight: 900;
    margin-bottom: 0;

    span {
        font-size: 16px;
        color: red;
    }
}

.header__subtitle {
    width: 100%;
    margin: 0;
}

.logo__icon {
    font-size: 32px;
    margin: 0 10px 0 0;
}

.header__exit {
    color: #4b80eb;
    font-size: 26px;
    margin: 0 0 0 10px;
}

.main__login {
    font-size: 32px;
    margin: 5px 10px 5px 0;
    font-weight: 700;

    &:hover {
        text-decoration: none;
        color: #002396;
    }
}

.main__singup {
    font-size: 32px;
    margin: 5px 10px 5px 0;
    font-weight: 700;

    &:hover {
        text-decoration: none;
        color: #002396;
    }
}

.singin__wrap {
    padding: 40px 0;
}

.singin__form {
    width: 400px;
    margin: 0 auto;
}

.singin__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px 0;
}

.singin__button {
    border: none;
    margin: 10px 0;
    padding: 5px;
    background-color: #0056b3;
    color: #fff;
    font-weight: 700;

    &:hover {
        background-color: #022852;
    }
}

.login__form {
    width: 400px;
    margin: 0 auto;
    border: 2px solid;
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
}

.login__form__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    h4 {
        margin-bottom: 0;
    }
}

.login__form__title-icon {
    font-size: 34px;
    margin-left: 10px;
}

.login__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px 0;
}

.login__button {
    border: none;
    border-radius: 5px;
    margin: 20px 0 10px;
    padding: 5px 10px;
    background-color: #0056b3;
    color: #fff;
    font-weight: 700;
    width: 100px;

    &:hover {
        background-color: #022852;
    }
}

.login__wrap {
    padding: 60px 0;
}

.opacity {
    opacity: 1 !important;
}

.underline {
    border-bottom: 2px solid #999;
}

.table__head {
    text-align: center !important;
    vertical-align: middle !important;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    min-width: 40px;
}

.table {
    td {
        &:nth-child(2) {
            text-align: center;
        }

        border: 1px solid;
        vertical-align: middle;
        padding: 5px;
        text-align: center;
    }

    tbody {
        tr, td {
            -webkit-transition: all .2s;
            -o-transition: all .2s;
            transition: all .2s;

            &:hover {
                -webkit-box-shadow: 0 0 3px 4px rgba(0, 0, 0, .2);
                box-shadow: 0 0 3px 4px rgba(0, 0, 0, .2);
                background-color: #f7f7f7;
            }
        }
    }

    thead {
        td {
            background-color: #343a40;
            color: #fff;
            border-color: #a9a9a9;
        }

        th {
            font-weight: 200;
        }
    }
}


.footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    p {
        margin: 0;
    }
}

.dropdown {
    a {
        &:hover {
            background-color: #ddd;
        }
    }
}

.select__predmet {
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #000;
    margin-bottom: 20px;

    &:hover {
        cursor: pointer;
    }
}

.select__students {
    font-weight: 600;
    font-size: 16px;
    font-size: 16px;
    font-weight: 600;
    padding: 3px;
}

.table__modules {
    tbody {
        p {
            margin: 0;
        }
    }
}


span.support {
    &::before {
        display: none;
        position: absolute;
        z-index: 9998;
        top: 0;
        left: 100%;
        background: #ededed;
        text-align: left;
        color: #000;
        cursor: default;
        padding: 5px;
        margin: -15px 0 0 10px;
        width: 200px;
        min-height: 50px;
        height: auto;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }
}

.main_img {
    margin: auto;
    display: block;
    width: 70%;
}

.btn-success {
    color: #fff;
    background-color: #5157bd;
    border-color: #394fa8;

    &:hover {
        background-color: #394fa8;
        color: #fff;
        background-color: #5157bd;
        border-color: #394fa8;
    }

    &:not(:disabled) {
        &:not(.disabled).active {
            color: #fff;
            background-color: #5157bd;
            border-color: #394fa8;
        }

        &:not(.disabled) {
            &:active {
                color: #fff;
                background-color: #5157bd;
                border-color: #394fa8;
            }
        }
    }
}

.close {
    border: none;
    background: 0 0;
    font-size: 24px;
    font-weight: 900;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    &:hover {
        border: 1px solid #343a40;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
        background-color: #f7f7f7;
    }

    span {
        line-height: 24px;
    }
}

.tabs {
    font-size: 0;
    width: 100%;

    .table__skips__report {
        font-size: 14px;
    }

    >input[type=radio] {
        display: none;

        &:checked+label {
            background-color: #fff;
            border-bottom: 1px solid #fff;
            font-size: 18px;
            font-weight: 900;
        }
    }

    >div {
        display: none;
        border: 1px solid #e0e0e0;
        padding: 10px 15px;
        font-size: 16px;
    }

    >label {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: #f5f5f5;
        border: 1px solid #e0e0e0;
        padding: 2px 8px;
        font-size: 16px;
        line-height: 1.5;
        -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out;
        -o-transition: color .15s ease-in-out, background-color .15s ease-in-out;
        transition: color .15s ease-in-out, background-color .15s ease-in-out;
        cursor: pointer;
        position: relative;
        top: 1px;
        margin-bottom: 0;

        &:not(:first-of-type) {
            border-left: none;
        }
    }
}

#tab-btn-1 {
    &:checked~#content-1 {
        display: block;
    }
}

#tab-btn-2 {
    &:checked~#content-2 {
        display: block;
    }
}

#tab-btn-3 {
    &:checked~#content-3 {
        display: block;
    }
}

#tab-btn-4 {
    &:checked~#content-4 {
        display: block;
    }
}

#tab-btn-5 {
    &:checked~#content-5 {
        display: block;
    }
}

#tab-btn-6 {
    &:checked~#content-6 {
        display: block;
    }
}

#tab-btn-7 {
    &:checked~#content-7 {
        display: block;
    }
}

.user__photo {
    img {
        width: 100px;
        height: 100px;
    }
}

.tab-content__text {
    span {
        font-weight: 900;
    }
}

.modal-dialog {
    max-width: 640px !important;
}

.note_2 {
    background-color: #bd2d49;
}

.note_3 {
    background-color: #ecb53e;
}

.note_4 {
    background-color: #67c93a;
}

.note_5 {
    background-color: #42c958;
}

.welcome__user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;

    p {
        margin: 0 !important;
    }
}

.user__avatar {
    margin: 0 10px;
    width: 50px;
}

.header__nav {
    margin-bottom: 20px;
    padding: 2px 0 4px;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    li {
        display: inline-block;
        padding: 0 10px;
    }
}

.nav__li {
    color: #000000;

    &:hover {
        text-decoration: none;
    }
}

.topmenu {
    >li {
        float: left;
        position: relative;
        border-left: 1px solid #fff;

        &:first-child {
            border-left: 0;
        }

        >a {
            padding: 15px 15px;
            font-size: 12px;
            text-transform: uppercase;
            color: #fefdfd;
            letter-spacing: 2px;
        }

        >a.active {
            color: #fff;
            text-decoration: none;
        }
    }

    a {
        &:active {
            .fa {
                -webkit-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);
            }
        }
    }

    .fa {
        margin-left: 5px;
        color: inherit;
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        -o-transition: transform .5s;
        transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s;
    }
}

.submenu {
    a {
        &:hover {
            color: #494949;
        }
    }

    .fa {
        margin-left: 5px;
        color: inherit;
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        -o-transition: transform .5s;
        transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s;
    }

    position: absolute;
    z-index: 5;
    min-width: 200px;
    background: #e0e0e0;
    border-top: 1px solid #cbcbcc;
    border-left: 1px solid #cbcbcc;
    border-right: 1px solid #cbcbcc;
    visibility: hidden;
    opacity: 0;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;

    li {
        position: relative;

        a {
            color: #282828;
            padding: 10px 20px;
            font-size: 13px;
            border-bottom: 1px solid #cbcbcc;
        }
    }

    .submenu {
        position: absolute;
        left: 100%;
        top: -1px;
        -webkit-transition: .3s linear;
        -o-transition: .3s linear;
        transition: .3s linear;
    }
}

.visible__menu {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    visibility: visible;
    opacity: 1;
}

.instruction {
    background-color: #dc143c;
    font-weight: 900;
}

@media print {
    .pred-table {
        max-width: 44px;
        height: 450px;
    }

    .btn-success {
        display: none;
    }

    .copy__link__block {
        display: none;
    }

    .print__block {
        display: none;
    }

    .topmenu {
        display: none;
    }

    .table__report {
        th {
            &:last-child {
                display: none;
            }
        }

        td {
            &:last-child {
                display: none;
            }
        }
    }

    table {
        page-break-after: auto;
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto;
    }

    td {
        page-break-inside: avoid;
        page-break-after: auto;
    }

    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-footer-group;
    }
}

@media only screen and (max-width:992px) {
    .container {
        width: 95% !important;
    }
}

@media only screen and (max-width:768px) {
    .container {
        width: 95% !important;
    }

    .animated {
        -o-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        -webkit-animation: none !important;
        animation: none !important;
    }
}

@media only screen and (max-width:480px) {
    .login__form {
        max-width: 90% !important;
        padding: 10px !important;
    }

    .header__wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: end;
    }

    .logo {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: end;
    }

    .header__subtitle {
        font-size: 11px;
        width: auto;
    }

    .welcome__user__text {
        font-size: 12px;
    }

    .topmenu {
        li {
            a {
                margin: 8px;
            }

            border-left: none !important;
        }
    }

    .menu {
        li {
            &:hover {
                >.submenu {
                    -webkit-transform: rotateX(0);
                    transform: rotateX(0);
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }

        background: rgba(0, 0, 0, .95);
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 3;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        left: -100vw;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        top: 0;

        ul {
            list-style: none;
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            text-align: center;

            a {
                display: block;
            }
        }
    }

    .visible__menu {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        visibility: visible !important;
        opacity: 1 !important;
    }

    .menu-link {
        z-index: 9;
        display: block;
        width: 50px;
        height: 50px;
        position: fixed;
        top: 0;

        span {
            display: block;
            width: 30px;
            height: 3px;
            background-color: #111;
            position: absolute;
            left: 50%;
            margin-left: -15px;
            top: 50%;
            margin-top: -1px;

            &:after {
                display: block;
                width: 30px;
                height: 3px;
                background-color: #111;
                position: absolute;
                left: 50%;
                margin-left: -15px;
                top: 50%;
                margin-top: -1px;
                content: "";
                margin-top: 5px;
                -webkit-transition: all .2s;
                -o-transition: all .2s;
                transition: all .2s;
            }

            &:before {
                display: block;
                width: 30px;
                height: 3px;
                background-color: #111;
                position: absolute;
                left: 50%;
                margin-left: -15px;
                top: 50%;
                margin-top: -1px;
                content: "";
                margin-top: -9px;
                -webkit-transition: all .2s;
                -o-transition: all .2s;
                transition: all .2s;
            }
        }
    }

    .menu-link_active {
        span {
            background-color: transparent;

            &:before {
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                margin-top: 0;
                background-color: #fff;
            }

            &:after {
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
                margin-top: 0;
                background-color: #fff;
            }
        }
    }

    .menu_active {
        left: 0;
    }

    .main-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        li {
            width: 100%;
        }
    }
}